<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="konva.min.js"></script>
    <script src="editor.js"></script>
    <meta charset="utf-8"/>
    <title>Make meme</title>
    <link rel="stylesheet" media="only screen" href="style-edit.css" type="text/css">
</head>

<body>
<div id="main-container">
    <button id="save" class="btn btn-danger">Save as image</button>
    <button id="gohome" class="btn btn-success"><a class="not-active" href="/">Go to list</a></button>
    <br>
    <div id="container">
    </div>
</div>
<script th:inline="javascript">
    var imgHeight = /*[[${meme.getHeight()}]]*/ +0;
    var imgWidth = /*[[${meme.getWidth()}]]*/ +0;
    //num of box from view
    var numOfTextbox =/*[[${meme.getBoxCount()}]]*/ +0;
    //url from wiev
    var url =/*[[${meme.getUrl()}]]*/ +'';
    init(imgHeight, imgWidth, numOfTextbox, url);
</script>
</body>
</html>
